.project {
  background-color: #20222b;
  padding: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 90px;
}

.project-title {
  font-size: 1.5rem;
  margin-top: -20px;
}

.project-description {
  margin-top: 40px;
}

.slick-slide img {
  margin: auto;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 90px;
}

.slick-dots li button:before {
  color: white;
  font-size: 12px;
}

.slick-prev {
  margin-left: -10px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 32px;
}
