.project {
  background-color: #20222b;
  padding: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 90px;
}

.project-title {
  font-size: 1.5rem;
  margin-top: -20px;
}

.project-description {
  margin-top: 40px;
}

.slick-slide img {
  margin: auto;
  width: 100%;
  border-radius: 90px;
}
