.navbar {
  background-color: #20222b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.title {
  color: whitesmoke;
  margin-left: 50px;
}

.navbar-buttons button {
  border: none;
  background-color: transparent;
  color: whitesmoke;
  margin-right: 50px;
  cursor: pointer;
  font-size: 1.5rem;
  transition-duration: 1s;
}

.navbar-buttons button:hover {
  color: rgba(245, 245, 245, 0.541);
}
